@import "reset.css";

/*Style*/
html{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1{
    font-size: 1.8rem;
    line-height: 1.8em;
    font-weight: 600;
}

h2{
    font-size: 0.9rem;
    color: #999;
    line-height: 1.2em;

}

body{
    width: 80%;
    margin-left:100px;
    height: 920px;
}

section {
    position: relative;
}

#player{
    position: absolute;
/*    width: 100%;*/
/*    z-index: -1;*/
    margin-top: 10px;
}

#title{
    margin: 30px 0 20px 0;
}

#makePairs{
    display: block;
    position: absolute;
    background: #ffffff;
    width: 920px;
    height: 520px;
    margin-top: 10px;
    padding: 80px 80px 120px 80px;
}

#finishPeerTeach,
#S1Q1, #S2Q1, #S1Q2, #S2Q2,
#GrQ0, #GrQ1, #GrQ2 {
    display: none;
    position: absolute;
    background: rgba(244,244,244,0.9);
    width: 960px;
    height: 600px;
    margin-top: 10px;
    padding: 60px 60px 60px 60px;
}


h3{
    padding:15px;
    font-size:1.6rem;
    line-height: 1.4em;
    font-weight:400;
}

input {
    font-size: 5rem;
}

em{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2em;
}

/*#S1Q2blank, #S2Q2blank, {
    display: inline-block;
    width: auto;
}*/

#S1Q2blank1, #S1Q2blank2, 
#S2Q2blank1, #S2Q2blank2{
    display: inline-block;
    font-size: 1.2rem;
    padding: 10px;
    width: 100px;
    height: 1.2rem;
}

h4{
    display: inline-block;
    padding:15px;
    font-size:1.2rem;
    line-height: 1.4em;
    font-weight:400;
}


#S1Q1Fdbck, #S2Q1Fdbck,
#GrQ0Fdbck, #GrQ1Fdbck, #GrQ2Fdbck
{
    margin-top: 120px;
    margin-left:10px;
    border-radius: 10px;
    background-color: gainsboro;
    width: 500px;
}


#S1Q2Fdbck, #S2Q2Fdbck
{
    margin-top: 100px;
    margin-left:10px;
    border-radius: 10px;
    background-color: gainsboro;
}

p{
    padding:20px;
    font-weight:300;
    font-size:1.1rem;
    line-height: 1.3em;
}

.button{
    float:left;
    margin-top: 30px;
    margin-left:10px;
    padding:15px 30px;
    border-radius: 50px;
    background-color: white;
    border: 2px #00A2FF solid;
    font-size: 1.1rem;
    text-decoration: none;
    color: #00A2FF;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button:hover{
    color: white;
    background: #00A2FF;
    transition: all .4s;
}

.picture img {
    position:absolute;
    width: 400px;
    height: 225px;
    padding: 10px;
    margin-left:540px;
    margin-top:90px;
}

#GradingMethod{
    position: relative;
    margin-top:760px;
    height: 100;
    z-index: -2;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100px;
}

h5{
    font-size:1rem;
    line-height: 1.4em;
    font-weight:400;
}

table{
    position: relative;
    margin-left: 40px;
}

td {
  text-align: left;
  padding: 2px;
}

th {
    text-align: left;
    font-weight:500; 
    padding: 4px;   
}
