@import "reset.css";

/*Style*/
html{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1{
    font-size: 1.8rem;
    line-height: 1.8em;
    font-weight: 600;
}

h2{
    font-size: 0.9rem;
    color: #999;
    line-height: 1.2em;

}

body{
    width: 80%;
    margin-left:100px;
}

section {
    position: relative;
}

#player{
    position: absolute;
/*    width: 100%;*/
    z-index: -10;
    margin-top: 30px;
}

#title{
    margin: 30px 0 20px 0;
}

#makePairs{
    display: block;
    position: absolute;
    background: #ffffff;
    width: 1000px;
    height: 520px;
    margin-top: 10px;
    padding: 80px 80px 120px 80px;
}

#finishPeerTeach,
#S1Q1, #S1Q2, #S2Q1, #S2Q2, 
#groupQ0, #groupQ1, #groupQ2 {
    display: none;
    position: absolute;
    background: #f4f4f4;
    width: 1000px;
    height: 520px;
    margin-top: 10px;
    padding: 80px 80px 120px 80px;
}

#makePairs h3, 
#finishPeerTeach h3,
#S1Q1 h3, 
#S1Q2 h3, 
#S2Q1 h3, 
#S2Q2 h3,
#groupQ0 h3, 
#groupQ1 h3, 
#groupQ2 h3 {
    padding:20px;
    font-size:1.6rem;
    line-height: 1.4em;
    font-weight:400;
}

#makePairs input, 
#finishPeerTeach input, 
#S1Q1 input,
#S1Q2 input,
#S2Q1 input,
#S2Q2 input,
#groupQ0 input, 
#groupQ1 input, 
#groupQ2 input {
    font-size: 5rem;
}

#makePairs em, 
#finishPeerTeach em, 
#S1Q1 em,
#S1Q2 em,
#S2Q1 em,
#S2Q2 em,
#groupQ0 em, 
#groupQ1 em, 
#groupQ2 em{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2em;
}

/*#T3{
    font-size: 2rem;
    margin-top:20px;
    margin-left:20px;
    margin-bottom:40px;
}*/

#S1Q1A, #S1Q2A,
#S2Q1A, #S2Q2A,
#groupQ0A, #groupQ1A,
#groupQ2A
{
    /*display:none;*/
    /*position:relative;*/
    margin-top: 130px;
    margin-left:10px;
    border-radius: 10px;
    /*border: 2px #333 solid;*/
    background-color: gainsboro;
    width: 400px;
}

#S1Q1A p, 
#S1Q2A p,
#S2Q1A p, 
#S2Q2A p, 
#groupQ0A p, 
#groupQ1A p,
#groupQ2A p{
    padding:20px;
    font-weight:300;
    font-size:1.1rem;
    line-height: 1.3em;
}

.button{
    float:left;
    margin-top: 60px;
    margin-left:10px;
    padding:15px 30px;
    border-radius: 50px;
    background-color: white;
    border: 2px #00A2FF solid;
    font-size: 1.1rem;
    text-decoration: none;
    color: #00A2FF;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button:hover{
    color: white;
    background: #00A2FF;
    transition: all .4s;
}

.picture img {
    position:absolute;
    width: 480px;
    height: 270px;
    padding: 10px;
    margin-left:500px;
    margin-top:0px;
}
